<a href="https://colab.research.google.com/github/joaovictojuliao/Squad-2-M4/blob/main/Resilia_M4_Projeto_Final_dados_ANP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Importando os dados**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#importando a biblioteca Pandas:
import pandas as pd

In [ ]:
#importando a planilha com dados das regiões, estados e municípios:
# A coluna produto será o índex.

brasil_micro = pd.read_csv("/content/drive/MyDrive/Resilia - Módulo 4 - Projeto Final /CSV/Região, Estados e Municípios - 2022 - POR MÊS.csv", index_col="PRODUTO")
brasil_micro['PREÇO MÉDIO REVENDA'] = brasil_micro['PREÇO MÉDIO REVENDA'].str.replace(',','.').astype(float)
brasil_micro['DESVIO PADRÃO REVENDA'] = brasil_micro['DESVIO PADRÃO REVENDA'].str.replace(',','.').astype(float)
brasil_micro['PREÇO MÍNIMO REVENDA'] = brasil_micro['PREÇO MÍNIMO REVENDA'].str.replace(',','.').astype(float)
brasil_micro['PREÇO MÁXIMO REVENDA'] = brasil_micro['PREÇO MÁXIMO REVENDA'].str.replace(',','.').astype(float)
brasil_micro['COEF DE VARIAÇÃO REVENDA'] = brasil_micro['COEF DE VARIAÇÃO REVENDA'].str.replace(',','.').astype(float)
brasil_micro

In [ ]:
#importando a planilha com dados do Brasil como um todo:
# A coluna produto será o índex.

brasil_macro = pd.read_csv("/content/drive/MyDrive/Resilia - Módulo 4 - Projeto Final /CSV/Brasil - 2013 até 2022 - POR MÊS.csv", index_col="PRODUTO")
brasil_macro['PREÇO MÉDIO REVENDA'] = brasil_macro['PREÇO MÉDIO REVENDA'].str.replace(',','.').astype(float)
brasil_macro['DESVIO PADRÃO REVENDA'] = brasil_macro['DESVIO PADRÃO REVENDA'].str.replace(',','.').astype(float)
brasil_macro['PREÇO MÍNIMO REVENDA'] = brasil_macro['PREÇO MÍNIMO REVENDA'].str.replace(',','.').astype(float)
brasil_macro['PREÇO MÁXIMO REVENDA'] = brasil_macro['PREÇO MÁXIMO REVENDA'].str.replace(',','.').astype(float)
brasil_macro['COEF DE VARIAÇÃO REVENDA'] = brasil_macro['COEF DE VARIAÇÃO REVENDA'].str.replace(',','.').astype(float)
brasil_macro

# **2. Visualizando dataframes originais**

In [ ]:
#Brasil
brasil_macro.head()

,MÊS,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
PRODUTO,,,,,,,,,,,,,,
ETANOL HIDRATADO,set.-21,17403,R$/l,"4,698","0,502","3,799","7,199",-,"0,107",-,-,-,-,-
GASOLINA ADITIVADA,set.-21,14482,R$/l,"6,216","0,349","5,099","7,987",-,"0,056",-,-,-,-,-
GASOLINA COMUM,set.-21,19641,R$/l,"6,078","0,349","5,049","7,236",-,"0,057",-,-,-,-,-
GLP,set.-21,14906,R$/13kg,"97,736","8,523","70,000","135,000",-,"0,087",-,-,-,-,-
GNV,set.-21,1319,R$/m³,"4,136","0,431","2,849","5,799",-,"0,104",-,-,-,-,-

In [ ]:
#Regiões, UFS e municípios
brasil_micro.head()

,MÊS,REGIÃO,ESTADO,MUNICÍPIO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
PRODUTO,,,,,,,,,,,,,,,,,
ETANOL HIDRATADO,jan.-22,NORTE,PARA,ABAETETUBA,3,R$/l,"5,969","0,000","5,969","5,969",-,"0,000",-,-,-,-,-
ETANOL HIDRATADO,jan.-22,SUDESTE,SAO PAULO,ADAMANTINA,28,R$/l,"4,537","0,088","4,390","4,790",-,"0,019",-,-,-,-,-
ETANOL HIDRATADO,jan.-22,CENTRO OESTE,GOIAS,AGUAS LINDAS DE GOIAS,24,R$/l,"5,198","0,116","4,979","5,299",-,"0,022",-,-,-,-,-
ETANOL HIDRATADO,jan.-22,SUL,RIO GRANDE DO SUL,ALEGRETE,10,R$/l,"6,654","0,488","5,999","7,299",-,"0,073",-,-,-,-,-
ETANOL HIDRATADO,jan.-22,NORTE,PARA,ALENQUER,4,R$/l,"7,120","0,000","7,120","7,120",-,"0,000",-,-,-,-,-

In [ ]:
#Quantidade de municípios
brasil_micro['MUNICÍPIO'].nunique()

458

In [ ]:
#Quantidade de regiões
brasil_micro['REGIÃO'].nunique()

5

In [ ]:
#Quantidade de estados
brasil_micro['ESTADO'].nunique()

27

# 3. Limpando os dados: brasil_micro

In [ ]:
# Eliminando os combustíveis desnecessários para a análise:
brasil_micro.drop(["GLP", "GNV", "OLEO DIESEL", "OLEO DIESEL S10"], axis=0, inplace=True)

In [ ]:
#Eliminando as colunas desnecessárias para a análise:
brasil_micro.drop(["UNIDADE DE MEDIDA", "MARGEM MÉDIA REVENDA", "PREÇO MÉDIO DISTRIBUIÇÃO", "DESVIO PADRÃO DISTRIBUIÇÃO", "PREÇO MÍNIMO DISTRIBUIÇÃO", "PREÇO MÁXIMO DISTRIBUIÇÃO", "COEF DE VARIAÇÃO DISTRIBUIÇÃO"], axis=1, inplace=True)

In [ ]:
#Eliminando os meses/anos desnecessários para a análise:

#Filtrando o período de julho:
brasil_micro_julho = brasil_micro[brasil_micro['MÊS'] == 'jul.-22']

In [ ]:
#Filtrando o período de agosto:
brasil_micro_ago = brasil_micro[brasil_micro['MÊS'] == 'ago.-22']

In [ ]:
#Fazendo a junção dos dois períodos (julho + agosto) em um único dataframe:
brasil_micro = pd.merge(brasil_micro_julho, brasil_micro_ago, how='outer')

In [ ]:
brasil_micro.head() #Não está mostrando a coluna 'produto'

,MÊS,REGIÃO,ESTADO,MUNICÍPIO,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA
0,jul.-22,NORTE,PARA,ABAETETUBA,4,"5,84","0,266","5,49","6,09","0,046"
1,jul.-22,NORDESTE,MARANHAO,ACAILANDIA,17,"5,87","0,379","4,99","6,30","0,065"
2,jul.-22,SUDESTE,SAO PAULO,ADAMANTINA,24,"3,97","0,214","3,71","4,39","0,054"
3,jul.-22,CENTRO OESTE,GOIAS,AGUAS LINDAS DE GOIAS,18,"4,36","0,235","3,99","4,59","0,054"
4,jul.-22,NORDESTE,BAHIA,ALAGOINHAS,36,"5,38","0,369","4,89","5,99","0,069"

In [ ]:
#Converter os dados

# 4. Limpando os dados: brasil_macro

In [ ]:
# Eliminando os combustíveis desnessários para a análise:
brasil_macro.drop(["GLP", "GNV", "OLEO DIESEL", "OLEO DIESEL S10"], inplace=True)

In [ ]:
# Eliminando as colunas desnecessárias para a análise:
brasil_macro.drop(["UNIDADE DE MEDIDA", "MARGEM MÉDIA REVENDA", "PREÇO MÉDIO DISTRIBUIÇÃO", "DESVIO PADRÃO DISTRIBUIÇÃO", "PREÇO MÍNIMO DISTRIBUIÇÃO", "PREÇO MÁXIMO DISTRIBUIÇÃO", "COEF DE VARIAÇÃO DISTRIBUIÇÃO"], axis=1, inplace=True)

In [ ]:
#Eliminando os meses/anos desnecessários para a análise:

#Filtrando o período de julho:
brasil_macro_julho = brasil_macro[brasil_macro['MÊS'] == 'jul.-22']
#Filtrando o período de agosto:
brasil_macro_ago = brasil_macro[brasil_macro['MÊS'] == 'ago.-22']
#Fazendo a junção dos dois períodos em um único dataframe:
brasil_macro = pd.merge(brasil_macro_julho, brasil_macro_ago, how='outer')

In [ ]:
brasil_macro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MÊS                           6 non-null      object
 1   NÚMERO DE POSTOS PESQUISADOS  6 non-null      int64
 2   PREÇO MÉDIO REVENDA           6 non-null      object
 3   DESVIO PADRÃO REVENDA         6 non-null      object
 4   PREÇO MÍNIMO REVENDA          6 non-null      object
 5   PREÇO MÁXIMO REVENDA          6 non-null      object
 6   COEF DE VARIAÇÃO REVENDA      6 non-null      object
dtypes: int64(1), object(6)
memory usage: 384.0+ bytes

In [ ]:
brasil_macro.head(6)

,MÊS,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA
0,jul.-22,19372,"4,36","0,737","3,39","7,89","0,169"
1,jul.-22,16343,"6,19","0,509","4,99","9,28","0,082"
2,jul.-22,21917,"6,05","0,491","4,92","8,52","0,081"
3,ago.-22,23455,"3,95","0,648","2,89","7,19","0,164"
4,ago.-22,19665,"5,55","0,381","4,13","8,82","0,069"
5,ago.-22,26424,"5,39","0,356","4,13","8,75","0,066"

In [ ]:
#Converter os dados